[user]
	name = Adrien Denat
	email = oi@adriendenat.com

[github]
  user = grsmto

[core]
	excludesfile = /Users/adriendenat/.gitignore_global
[mergetool]
	keepBackup = false
[difftool "sourcetree"]
	cmd = code --diff --wait "$LOCAL" "$REMOTE"
	path = 
[mergetool "sourcetree"]
	cmd = code -n --wait "$MERGED"
	trustExitCode = true
[commit]
	template = /Users/adriendenat/.stCommitMsg
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /Users/adriendenat/Library/Preferences/netlify/helper/git-config
[init]
	defaultBranch = main
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
