[user]
	name = Adrien Denat
	email = adrien.denat@gmail.com

[github]
  user = grsmto

[core]
	excludesfile = /Users/adriendenat/.gitignore_global
[mergetool]
	keepBackup = false
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[commit]
	template = /Users/adriendenat/.stCommitMsg
